@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-black: #000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}
.d-flx{
    display: flex;
    align-items: center;
}
.ml-1{
    margin-left: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.link{
    margin-left: 1rem;
    color: var(--color-black)
}
.link.active{
    font-weight: bold;
    font-size: 1rem;
}
.navbar{
    background-color: var(--color-white);
}
.navbar__content,
.home__content{
    width: 80%;
    margin: 0 auto;
    padding: 1.2rem 0;   
}
.navbar__content h3{
    color: var(--color-primary)
}
.main {
    position: relative;
    top: 2rem;
}

.main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}
.sidebar{
    display: flex;
    flex-direction: column;
    
}
.sidebar__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile-picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  
}

img {
    display: block;
    width: 100%;
    background-color: #ccc;
}
.user__info{
    margin-top: 18rem;
}
.user__info .username{
    font-size: 0.8rem;
color: var(--color-gray)
}
.post__container{
    padding: 0.7rem;
    background-color: var(--color-white);
    margin-bottom: 1.5rem;
}
.post__container h3{
    font-size: 1.2rem;
    font-weight: 700;
}
.tag{
    border: 1px solid var(--color-gray);
    color: var(--color-primary);
    background-color: #efebeb;
    padding: 0.3rem;
    margin: 0.5rem 0.8rem 0.8rem 0; 
    border-radius: 15px;
    font-size: 0.6rem;
}
.post__desc{
    margin: 0.7rem 0;
    font-size: 14px;
    border-bottom: 1px solid  #c3c2c2;
    padding-bottom:0.6rem ;
}
.action__icons{
    display: flex;
    justify-content: space-between;
    color: #c3c2c2;
    cursor: pointer;
}
.upvote__sec{
    display: flex;
    flex-direction: column;
}
.post__sec{
    display: flex;
    gap: 1rem;
}
.sort__icon{
    font-size: 3rem;
}
.dropdown__content{
    background-color: var(--color-white);
    width: 10rem;
    padding: 0.6rem;
    cursor: pointer;
}
.dropdown__content li:hover{
background-color: #c3c2c2;
}
